@page "/Administration/Person/{Id:guid}"
@attribute [Authorize(Policy = "Admin")]

<NavMenu />

<EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit">
    <input type="hidden" @bind-value="person.Id" id="Id" />

    <div class="row mb-3">
        <label for="firstName" class="form-label col-sm-2 ">FirstName</label>
        <div class="col-sm-10">
            <InputText id="firstName" @bind-Value="person.FirstName" class="form-control" placeholder="FirstName" />
        </div>
        <ValidationMessage For="@(() => person.FirstName)" />
    </div>

    <div class="row mb-3">
        <label for="midName" class="form-label col-sm-2 ">MidName</label>
        <div class="col-sm-10">
            <InputText id="midName" @bind-Value="person.MidName" class="form-control" placeholder="MidName" />
        </div>
        <ValidationMessage For="@(() => person.MidName)" />
    </div>

    <div class="row mb-3">
        <label for="lastName" class="form-label col-sm-2 ">LastName</label>
        <div class="col-sm-10">
            <InputText id="lastName" @bind-Value="person.LastName" class="form-control" placeholder="LastName" />
        </div>
        <ValidationMessage For="@(() => person.LastName)" />
    </div>

    <div class="row mb-3">
        <label for="gender" class="form-label col-sm-2 ">Gender</label>
        <div class="col-sm-10">
            <InputSelect id="gender" @bind-Value="person.Gender" class="form-select" placeholder="Gender">
                @foreach (var item in GetGenders())
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </InputSelect>
        </div>
        <ValidationMessage For="@(() => person.Gender)" />
    </div>

    <div class="row mb-3">
        <label for="organisations" class="form-label col-sm-2 ">Organisations</label>
        <div class="col-sm-10">
            <RadzenCheckBoxList id="organisations" placeholder="Organisations" @bind-Value="person.OrganisationIds" Orientation="Orientation.Vertical" Data="organisations"
                                TextProperty="Name" ValueProperty="Id" TValue="Guid" Change="@(args => OnChange(args))">
                @*<Items>
                        @foreach (var item in organisations)
                        {
                            <RadzenCheckBoxListItem Value="@item" Text="@item.Name" />
                        }
                    </Items>*@
            </RadzenCheckBoxList>
        </div>
        <ValidationMessage For="@(() => person.Organisations)" />
    </div>

    <DataAnnotationsValidator />
    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>