@page "/Administration/Station"
@using Wasserwacht.DigitalGuardBook.Common.Logic.Services
@inject StationService StationService

<NavMenu />

<EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary Model="@station" />

    <div class="row mb-3">
        <label for="name" class="form-label col-sm-2 ">Name</label>
        <div class="col-sm-10">
            <InputText id="name" @bind-Value="station.Name" class="form-control" placeholder="Name" />
        </div>
        <ValidationMessage class="invalid-feedback" For="@(() => station.Name)" />
    </div>

    <div class="row mb-3">
        <label for="name" class="form-label col-sm-2 ">Stra&szlig;e</label>
        <div class="col-sm-10">
            <InputText id="name" @bind-Value="station.Street" class="form-control" placeholder="Straße" />
        </div>
        <ValidationMessage class="invalid-feedback" For="@(() => station.Street)" />
    </div>

    <div class="row mb-3">
        <label for="name" class="form-label col-sm-2 ">PLZ</label>
        <div class="col-sm-10">
            <InputText id="name" @bind-Value="station.ZipCode" class="form-control" placeholder="PLZ" />
        </div>
        <ValidationMessage class="invalid-feedback" For="@(() => station.ZipCode)" />
    </div>

    <div class="row mb-3">
        <label for="name" class="form-label col-sm-2 ">Ort</label>
        <div class="col-sm-10">
            <InputText id="name" @bind-Value="station.City" class="form-control" placeholder="Ort" />
        </div>
        <ValidationMessage class="invalid-feedback" For="@(() => station.City)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
